@model BKFitness.ViewModels.Session.SessionDetailModel

@{
    ViewBag.Title = @Model.Name;
}


    <div class="container detail">
<div class="row ">
        <div class="col-md-4 col-md-offset-1">
                <img class="detailImage" src="@Model.SessionImageUrl" />
         </div>
      <div class="col-md-4 col-md-offset-1">
            <h3>@Model.Name</h3> <hr>
            <p id="item">@Model.Description</p><hr>
            <p id="itemClass">@Model.ClassPriceNoMember</p><hr>
            <p id="itemType">@Model.ClassPriceMember</p><hr>
   
 
           
        </div>
    </div>
</div>