@model BKFitness.ViewModels.Account.Role.ApplicationRoleIndexModel



    <div class="top-buffer"></div>  
    <div class="panel panel-primary">  
        <div class="panel-heading panel-head"></div>  
        <div class="panel-body">  
            <div class="btn-group">  
                <a asp-action="Create" class="btn btn-primary">  
                    <i class="glyphicon glyphicon-plus"></i>  Add Membership type
                </a>  
            </div>  
           <div id="table">
        <table class="table table-condensed" id="Table">
            <thead>
        <thead>
            <tr>
                <th>Membership Name</th>
                <th>Description</th>
                <th>Image</th>
                <th>Price</th>
              
           </tr>
        </thead>
        <tbody>
                <tr>
                 @foreach (var item in @Model.RoleList) 
                { 
                 
                     <td> @item.MembershipName</td>     
                       <td>@item.MembershipDescription</td>     
                        <td> @item.MembershipImageUrl</td>   
                        <td>@item.MembershipPrice</td> 
                  }    
                  </tr>                                                
          </div>  
    </div>  
      
